.categories {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.categories .category {
  display: grid;
  place-items: center;
  width: 5rem;
  height: 5rem;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: #fefefe;
  transform: scale(0.8);
  transition: 0.5s;
  cursor: pointer;
}

.categories .category:hover {
  transform: scale(0.9);
}

.category-italian,
.category-korean,
.category-thai,
.category-japanese {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.categories .category p {
  font-size: 0.8rem;
}

@media screen and (max-width: 850px) {
  .categories {
    gap: 1rem;
  }
}
@media screen and (max-width: 550px) {
  .categories {
    gap: 0.5rem;
  }
  .categories .category {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media screen and (max-width: 420px) {
  .categories {
    gap: 0.3rem;
  }
  .categories .category {
    width: 4.3rem;
    height: 4.3rem;
  }
}
